<div class="modal-dialog">
    {% if block('form_start') is defined and form is defined %}
        {{ block('form_start') }}
    {% endif %}
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{% block title %}{% endblock %}</h4>
            <div class="nav">
                {% block body_header_navigation %}{% endblock %}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <div class="wrap tab-content">
                {% block body_content %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </div>
        </div>
        {% if block('form_actions') is defined %}
        <div class="modal-footer">
            {% block body_footer %}
                    {{ block('form_actions') }}
            {% endblock %}
        </div>
        {% endif %}
    </div>
    {% if block('form_end') is defined  and form is defined %}
        {{ block('form_end') }}
    {% endif %}
</div>
